@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,900;1,400&display=swap");

.demo {
  font-family: "Playfair Display", "Times New Roman", "Times", serif;
  padding: 1rem;
  color: #4a5568;
  background-color: #f7fafc;
}
@media (min-width: 640px) {
  .demo {
    padding: 3rem;
  }
}

hr {
  margin: 8em;
  background-color: #e2e8f0;
  border: 0;
  height: 1px;
}

.headline-1 {
  font-size: 3rem;
  margin-bottom: 0.75em;
  line-height: 1.1em;
}

@media (min-width: 640px) {
  .headline-1 {
    font-size: 5rem;
    margin-bottom: 0.75em;
    line-height: 0.9em;
  }
}

.headline-2 {
  font-size: 2em;
}

.slider-card {
  background-color: #fff;
  padding: 10px 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.03), 0 2px 2px rgba(0, 0, 0, 0.03),
    0 4px 4px rgba(0, 0, 0, 0.03), 0 8px 8px rgba(0, 0, 0, 0.03),
    0 16px 16px rgba(0, 0, 0, 0.03);

  @media (min-width: 640px) {
    padding: 50px 100px;
  }
}

.slider-card-custom {
  background: linear-gradient(
    317deg,
    rgba(42, 192, 224, 1) 0%,
    rgba(33, 215, 122, 1) 100%
  );
  color: white;
  padding: 30px;
  border-radius: 10px;
}

.controls-custom {
  display: flex;
}

.flex-demo-slide {
  display: flex;
}
.flex-demo-slide > div {
  padding: 0 10px;
}
