.demo {
    font-family: Arial;
    padding: 3em;
  }

  h1 {
    font-size: 2em;
    font-weight: 100;
  }

  h2 {
    font-size: 1.5em;
  }

  hr {
    margin: 8em;
  }

  .slider-slides {
    padding-bottom: 100px;
  }

  .flex-demo-slide {
    display:flex;
  }
  .flex-demo-slide > div {
      padding:0 10px;
  }